In [1]:
import pandas as pd
import numpy as np

In [25]:
df = pd.read_csv("PreprocessedData", sep=',', low_memory=False)
df = df.drop(columns=['Unnamed: 0', 'EVTYPE', 'FATALITIES', 'INJURIES','PROPDMG','PROPDMGEXP','CROPDMG','CROPDMGEXP', 'PROPTOT', 'CROPTOT','EVTYPEMAP'])
df.BGN_DATE = df.BGN_DATE.str.slice(0, 4)
df.rename(columns={'BGN_DATE':'BGN_YEAR'}, inplace=True)
df['BGN_YEAR'] = df['BGN_YEAR'].astype(int)
df.head()

   BGN_YEAR  DAMAGETOT  FATINJTOT          EVTYPEMAP
0      1959    25000.0          0            TORNADO
1      1959        0.0          0  THUNDERSTORM WIND
2      1959        0.0          0  THUNDERSTORM WIND
3      1959        0.0          0  THUNDERSTORM WIND
4      1959        0.0          0               HAIL

(892919, 4)

In [28]:
df2 = pd.read_csv("co2_annmean_mlo_preprocessed.txt", sep=',')
df2['year'] = df2['year'].astype(int)
df2 = df2.drop(columns=['unc'])
df2.head()

   year    mean
0  1959  315.97
1  1960  316.91
2  1961  317.64
3  1962  318.45
4  1963  318.99

In [29]:
result = pd.merge(df, df2, left_on='BGN_YEAR', right_on='year', how='left')

In [31]:
result = result.drop(columns=['year'])
result.rename(columns={'mean':'CARBON'}, inplace=True)

In [33]:
result

        BGN_YEAR  DAMAGETOT  FATINJTOT          EVTYPEMAP  CARBON
0           1959    25000.0          0            TORNADO  315.97
1           1959        0.0          0  THUNDERSTORM WIND  315.97
2           1959        0.0          0  THUNDERSTORM WIND  315.97
3           1959        0.0          0  THUNDERSTORM WIND  315.97
4           1959        0.0          0               HAIL  315.97
...          ...        ...        ...                ...     ...
892914      2011        0.0          0          HIGH WIND  391.65
892915      2011        0.0          0          HIGH WIND  391.65
892916      2011        0.0          0          HIGH WIND  391.65
892917      2011        0.0          0       WINTER STORM  391.65
892918      2011        0.0          0         HEAVY SNOW  391.65

[892919 rows x 5 columns]

In [34]:
result.to_excel(r'CombinedDatasets.xlsx')